@import "tailwindcss";

@layer theme, base, components, utilities;

html {
  scrollbar-gutter: stable;
}
@font-face {
  font-family: "Fz Poppins";
  src: url("/fonts/FzPoppins/FZ-Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fz Poppins";
  src: url("/fonts/FzPoppins/FZ-Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fz Poppins";
  src: url("/fonts/FzPoppins/FZ-Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/Alegreya_Sans/AlegreyaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya";
  src: url("/fonts/Alegreya/static/Alegreya-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("/fonts/Alegreya/static/Alegreya-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("/fonts/Alegreya/static/Alegreya-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

@theme {
  --font-sans: "Alegreya Sans", sans-serif;
  --color-green-lightest: #EAF2DA ; 
  --color-green-light: #D5E8C0 ;    
  --color-green-medium: #7D8F69 ;    
  --color-green-dark: #556B2F ;    
  --color-green-600: #628423;
  --color-blue-dark: #1E3A8A ;      
  --color-blue-medium: #2563EB ;
  --color-green-normal: #6D9127 ;
  --color-steel-blue: #0A5B89 ;
  --color-blue-normal: #667085;
  --color-blue-normal-active: #525A6A;
  --color-gray: #525A6A;
  --font-alegreya-sans: "Alegreya Sans", sans-serif;
  --font-fz-poppins: "Fz Poppins";
  --font-alegreya: "Alegreya";
}
